header{
    background-image: url("../assets/images/Background_Intro\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 100% 750px;
    height: 750px;
}
.perfil {
   display: flex;
   justify-content: center;
   padding: 120px 56px;

}
.subtitle{
    display: flex;
    justify-content: center;
    font: var(--text-subtitle);
    color: var(--gray-200);
    margin-bottom: 8px;
    
}

h1{
    display: flex;
    justify-content: center;
    color: var(--gray-200);
    margin-bottom: 20px;
    font: var(--text-lg-asap);
}


p{
    display: flex;
    justify-content: center;
    font: var(--text-sm-maven);
    color: var(--gray-300);
}

ul {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 16px;
    margin-top: 80px;
    color: var(--gray-200);
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: var(--gray-400);
    padding: 8px 16px;
    gap: 8px;
    font: var(--text-md-maven);
}

.down {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 94px;
}

